body {
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    padding: 30px;
}

h2 {
    margin-bottom: 0px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.container-filtro {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
    justify-content: space-between;
}

.container-filtro label {
    margin: 5px;
    padding: 0px;
}

form {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;
}

input {
    display: block;
    border-radius: 6px;
    border: 1px solid #A0AEC0;
    width: 312px;
    height: 35px;
    background: #E2E8F0;
}

input:hover {
    transition: 2s;
    background: #FFFFFF;
}

.container-button {
    justify-content: space-around;

}

.limpar-dados {
    background: #E53E3E;
    border-radius: 6px;
    border: 1px solid #A0AEC0;
    padding: 10px;
    color: #FFFFFF;
    width: 138px;
    height: 34px;
    cursor: pointer;
    margin: 16px;
}

.salvar {
    background: #38A169;
    border-radius: 6px;
    border: 1px solid #A0AEC0;
    padding: 10px;
    color: #FFFFFF;
    width: 79px;
    height: 34px;
    cursor: pointer;
}


.container-tabela {
    display: grid;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    text-align: justify;

}

thead {
    border: 1px solid #A0AEC0;
    border-radius: 6px;
    margin-bottom: 4px;
}

tr {
    padding: 10px;
    display: grid;
    border-radius: 6px;
    grid-template-columns: 1.5fr 4.5fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: #FFFFFF;
}

th {
    cursor: pointer;
}

.imagem-cabecalho {
    cursor: not-allowed;
}

.container-produto {
    background: #E2E8F0;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1.5fr 4.5fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}


.container-produto:hover {
    background-color: #B8D6FF;
}

.imagem-produto {
    border-radius: 6px;
    width: 60px;
    height: 60px;
}

.imagem-acao-deletar {
    cursor: pointer;
    color: #FF0606;
}
.imagem-acao-alterar {
    cursor: pointer;
    color:#B9885C;
}

.limpar-filtro {
    background-color: #FF0606;
    color: #FFFFFF;
    width: 115px;
    height: 22px;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    border: none;
    border-radius: 6px;
}

path,
svg {
    width: 40%;
    height: 50%;
}